#carouselExampleFade {
    margin: 50px;
}

body {
    margin-bottom: 20px;
    position: relative;
}

main {
    margin-left: 20px;
    margin-right: 20px;
}

header {
    position: sticky;
    z-index: 1000;
    top: 0;
}

.carousel-item {
    width: 100%;
}

#center {
    text-align: center;
    background-color: aliceblue;
}

.posters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bio {
    text-align: center;
}

aside {
    position: sticky;
    top: 10%;
    z-index: 999;
    margin-left: 20px;
}

.col-4 {
    width: max-content;
}

.logo {
    border-radius: 4px;
    border: 1px solid white;
}

.photo {
    border-radius: 4px;
    border: 10px dashed rgb(184, 41, 41);
}

.container-img {
    width: 100%;
}

#zagolovok {
    text-align: center;
}

.card {
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.films {
    text-align: center;
    padding: 5px;
    border: 1px solid gray;
    margin: auto;
    width: 100%;
}

.table-zag {
    border-bottom: 3px solid grey;
    padding: 5px;
}

.table-tr {
    border-bottom: 1px solid grey;
    padding: 5px;
}

